
:root {
  --color-primary: yellow;
  --tab-width: 300px;
  --button-width: 64px;
}

* {
  box-sizing: content-box;
}


html, body 
  .wrapper {
    height: 100%;
  }


body {
  line-height: 1.5;
}

.content {
  position: relative;
  overflow: hidden;
  height: 140px;
}

.content-inner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: calc(var(--tab-width) * 3);
  transition: 0.3s;
}

.widget {
  width: 400px;
  height: 300px;
  border: solid 2px rgb(80, 53, 25);
  border-radius: 8px;
}

.containerIcon {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid rgb(80, 53, 25);
}

.containerIcon.div.button.svg:hover{
  // fill: red;
}