@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Inter:wght@600;700;800&display=swap');

body {
  width: 100%;
  height: 100%
}

.wrapperToDo {
  background-color: rgb(228, 228, 232);
  display: flex;

}

.containerToDo {
  display: flex;
  flex-direction: column;

}

.headerToDo {
  display: flex;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  font-family: 'Dancing Script';
}

.calendarWrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 0.7fr);
  gap: 1px;
  background-color: hwb(0 100% 0%);
}

.dayWrapper {
  min-width: 140px;
  min-height: 80px;
  color: rgb(105, 112, 112);

}

.rowInCell{
  display: flex;
  justify-content: flex-end;
}

.currentDay{
  height: 33px;
  width: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonAdd{
  display: flex;
  justify-content: end;
  svg {
    path{
      fill: rgba(105, 112, 112, 0.348);
    }
  }
}

.currentDay {
  border: solid 0.5px black;
  border-radius:  50%;
}

.weekWrapper{
  min-width: 140px;
  max-height: 20px;
  font-family: 'Dancing Script';
  display: flex;
  justify-content: flex-end;
}