.wrapper {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  margin: 24px;
  display: flex;
  height: 150px;
  width: 100%;
  border-bottom: 2px;
}

.container{
  display: flex;
}

.info{
  padding-right: 16px;
}

