.wrapper {
  font-family: 'Dosis', sans-serif;
  position: static;
  margin-top: -8px;
  width: 100%;
  justify-content: space-between;

}

.container{
  flex-direction: row;
  justify-content: center;
  
}

.info{
  padding-left: 24px;
  color: #777777;
  text-decoration: none;

}

.contact{
  padding-left: 24px;
  color: #777777;
  text-decoration: none;
}

.portfolio{
  padding-left: 24px;
  color: #777777;
  text-decoration: none;
}

