.wrapper {
  font-family: cursive;
  position: static;
  margin: 24px;
  display: flex;
  height: 150px;
  width: 100%;
  border-bottom: 2px;
  justify-content: center;

}

.container{
  display: flex;
}

.info{
  padding-right: 16px;
  color: white;
  text-decoration: none;

}

.contact{
  color: white;
  text-decoration: none;


}

